@media (max-width:490px){
    .DioSongs img{
        height:6.875rem ;
        width:6.875rem ;
    }
    .MerchAndise img{
        height: 9.0625rem ;
        width: 9.0625rem;
    }
    .Poster1 img{
        height: 25rem;
        width: 18.75rem;
    }
}