@media (max-width:490px){
    .DioSongs img{
        height:6.875rem ;
        width:6.875rem ;
    }
    .LogoPrincipal{
        @include x-y-c(25rem,10rem,none);
    }
    .MerchAndise img{
        height: 8.5rem ;
        width: 8.5rem;
    }
    .Poster1 img{
        height: 25rem;
        width: 18.75rem;
    }
    .NewsTop{
        div{
            div{
                a{
                    img{
                        @include x-y-c (18.75rem,12.5rem,10%);
                    }
                }
            }
        }
    }
}
