@media (max-width:675px){
    .lastLine{
        display: none;
    }
    .LogoPrincipal{
        @include x-y-c(30rem,12rem,none);
    }
    .Sector2{
        article{
        flex-direction: column-reverse;
        background-color: transparent;
        }
    } 
    .divParrafo{
        background-color:$col-terci;
        width: 100%;
    }
    .Sector2{
        div{
            img{
                height:16.5625rem ;
                width:23.125rem ;
            }
        } 
    } 
    .BunDles{
        article{
            a{
                img{
                    @include x-y-c(21.875rem,21.875rem,none);
                }
            }
        }
    }

}