
footer{
    @include flex(row,nowrap,center,center,none);
    background-color:$bg-principal;
    div{
        a{
            margin:.9375rem;
            img{
            height:4.6875rem ;
            width:4.6875rem ;
    }
        }
    }

}