.TopImage{
    @include flex(row,nowrap,center,center,none);
    background-image: url(../assets/img/DIO-1985.jpg);
    @include bg-confg(center,cover,no-repeat);
    @include x-y-c(100%,42.5rem,none);
    h1{
        color: $col-tex;
        text-align: center;
        text-decoration: none;
        font-family: 'Young Serif', serif;
    }
}

.NewsTop{
    margin: 5rem;
    div{
        font-family: 'Young Serif', serif;
        color: $col-tex;
        @include flex (row,nowrap,center,center,none);
        margin-top: 2.5rem;
        div{
            a{
                img{
                    @include x-y-c (25rem,16.875rem,10%);
                }
            }
        }
    }
}
.new1{
    margin-right:2rem; 
}
.new2{
    margin-left: 2rem;
}
.new3{
    @extend .new1
}

.DownNews{
    div{
        @include flex(row,wrap,center,center,2rem);
        div{
            margin: 1rem;
            a{
                img{
                    @include x-y-c(15.625rem,9.375rem,10%);
                }
            }
        }
    }
}



