.TouerS{
    @include flex(row,none,center,center,none);
    @include bg-confg(center,cover,no-repeat);
    background-image: url(../assets/img/TourTopImage.jpg);
    @include x-y-c(100%,42.5rem,none);
    div{
        h1{
            color: $col-tex;
            font-family: 'Young Serif', serif;
        }
    }
}
.col-8{
    color: $col-tex;
    font-family: 'Young Serif', serif;
}
.col-2{
    font-family: 'Young Serif', serif;
    text-decoration: none;
    color: $col-tex;
}
.toursV{
    margin:1.5rem 0rem 5rem 0rem;
}
.bg-rode{
    background-color: rgb(45, 2, 2);
}
