.TopShop{
    @include flex(column,nowrap,center,center,none);
    background-image:url(../assets/img/500x500-dio-cover.jpg) ;
    @include bg-confg(center,cover,no-repeat);
    @include x-y-c(100%,52.5rem,none);
    div{
        img{
            @include x-y-c(25rem,25rem,none);
        }
    }
}
.TitleC{
    div{
        p{
        font-size: map-get($font-size,xxl );
        font-family:'Jacques Francois Shadow', cursive; ;
        color: $col-tex;
        text-decoration: underline;
        text-align: center;
        margin:4.375rem 0rem 1.875rem 0rem;
        }
    }
}

.ShopI{
    @include flex(row,wrap,space-evenly,none,none);
    overflow:hidden;
    article{
        div{
            a{
                img{
                    @include x-y-c(21.875rem,21.875rem,15%);
                    margin-top: 3.125rem;
                }
            }
        }
    }
}
.BunDles{
    @extend .TitleC;
    article{
        @include flex(row,nowrap,center,none,none);
            a{
                img{
                    border-radius: 15%;
                }
            }
    }
}

.CloThing{
    @include flex(row,wrap,space-around,none,none);
    article{
        div{
            a{
                img{
                @include x-y-c(21.875rem,21.875rem,15%);
                margin-top:3.125rem ;
                }
            }
        }
    }
}
.PosTers{
    @include flex(row,wrap,space-around,none,none);
    article{
        div{
            a{
                img{
                    @include x-y-c(23.125rem,32.1875rem,10%);
                }
            }
        }
    }
}